{% extends 'base.html.twig' %}

{% block body %}
<nav class="cd-side-navigation">
		<ul>
			<li>
				<a href="#0" class="menu-item selected" data-menu="index">
					Главная
				</a>
			</li>

			<li>
				<a href="#0" class="menu-item" data-menu="portfolio"> 
					Кейсы 
				</a>
			</li>

			<li>
				<a href="#0" class="menu-item" data-menu="contacts">
					Контакты
				</a>
			</li>
		</ul>
	</nav> <!-- .cd-side-navigation -->

	<main class="cd-main">
		<section class="cd-section index visible">
			<header>
				<div class="cd-title">
					<h2>{{site_name}}</h2>
					<span>{{site_description}}</span>

				</div>
			<img src="{{ asset('img/logo.png') }}" id="logo">
			</header>

		</section> <!-- .cd-section -->
	</main> <!-- .cd-main -->

	<div id="cd-loading-bar" data-scale="1" class="index"></div> <!-- lateral loading bar -->
{% endblock %}
