input[type=submit], input[type=text], textarea {
    /* for iOs*/
  -webkit-appearance: none;
}

p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 1.4rem;
}

.cd-side-navigation a{
	padding: 3em 0 2.93em;
}

#logo {
	position: absolute;
    width: 78.5%;
    /*top: 39.6rem;*/
    left: calc(11.25rem - 0.47%);
    bottom: 5.6rem;
    top: auto;
}

.cd-section {
    /* for iOs*/
    -webkit-overflow-scrolling:auto;
}

.index {
    overflow: hidden;
}

.cd-title {
    top: 0;
    width: 70%;
    max-width: 80rem;
    margin-top: 13.4rem;
    margin-left: 11.2rem;
    padding: 0;
}

.cd-title h2 {
    margin-left: -0.1rem;
}

.cd-title span {
    font-size: 2.3rem;
    line-height: 3rem;
}

.row {
	width:100%;
	height:35vw;
}

.prt-6 {
    background-color: #fff;
    width:50%;
    float:left;
    height:35vw;
}

.prt-6 div {
    width:100%;
    height:100%;
}

.img-row {
    display: flex;
    width: 100%;
    align-items: center;
    overflow: auto;
    justify-content: space-between;
    margin-bottom: 4.2rem;
}

.img-row p {
    width: 90%;
    font-size: 2.1rem;
}

.img-4 {
    width: 32% !important;
    height: auto !important;
}

.img-6 {
    width: 49% !important;
    height: auto !important;
}

.img-8 {
    width: 65% !important;
    height: auto !important;
}

.img-12 {
    width:100% !important;
    height:auto !important;
}

.img-37 {
    width:37% !important;
    height:auto !important;
}

.img-63 {
    width:63% !important;
    height:auto !important;
}

.cd-content {
	padding:0;
}


/* CONTACT FORM */
#contact-form {
    background-color: #02010A;
}

#contact-form h3 {
    margin-bottom: 0.3rem;
}

.form-div {
    padding: 1.4rem 0 0 0;
    position: relative;
}

.form-div:after, .form-div:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 0.2rem;
  background-color: #FDFFFC; 
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}

.form-div::after {
  background-color: #2A31E3;
  transform: scaleX(0);
}

.is-active::after {
  transform: scaleX(1);
}

.is-active .form-label {
  color: #fff;
}

.is-completed .form-label {
  font-size: 1.4rem;
  transform: translateY(0);
}

.form-input {
    position: relative;
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    padding: 1.1rem 0;
    font-size: 1.6rem;
    color: #fff;
}

.form-label { /* mat-label */
    display: block;
    font-size: 1.4rem;
    transform: translateY(2.5rem);
    color: #999996;
    transition: all 0.5s;
}

.form-textarea {
    position: relative;
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    padding: 0.8rem 0;
    font-size: 1.6rem;
    color: #fff;
    resize: vertical;
    height: 4rem;
}

.btn-black {
    font-style: normal;
    margin-top: 4.2rem;
    font-weight: 500;
    line-height: normal;
    font-size: 1.4rem;
    text-align: center;
    display: block;
    color: #FFFFFF;
    min-width: 19rem;
    height: 4.9rem;
    background: #02010A;
    cursor: pointer;
    border: 1px solid #fff;
}

.msgs {
    display: none;
    position: absolute;
    width: 30vw;
    height: 20vh;
    top: 50%;
    background-color: #ffffffd1;
    color: black;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    font-size: 2.1rem;
    align-items: center;
}



/*  ANTI SCROLL*/
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0rem;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.hover-overlay {
    position: relative;
    transition: 0.3s;
    width:100%;
    height:35vw;
    top:-35vw;
}

.hover-overlay:hover {
    transition: 0.3s;
    background-color:rgba(0, 0, 0, 0.14);
}

.hover-overlay span{
    position: relative;
    left: 5.4rem;
    top: 6rem;
    font-size: 2.1rem;
    max-width: 70%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.hover-overlay h3 {
    position: relative;
    left: 5.4rem;
    top: 7.4rem;
    font-size: 2.8rem;
    max-width: 70%;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

#project-detail{
    opacity: 0;
    padding: 10.2rem 8.2rem;

    width: calc(100% - 9rem);
    height: 100%;
    background-color: white;
    z-index:-1;

    position: fixed; 
    overflow-y: scroll;
    top: 0; 
    left: 9rem;
    right: 0;
    bottom: 0;
    color:black;
    transition: 0.5s;
    /* for iOs*/
    -webkit-overflow-scrolling:auto;
}

#project-detail-content {
    height: 100%;
    overflow: scroll;
    color:black;
}

#project-close {
    position: fixed;
    width: 4.4rem;
    height: 4.4rem;
    right: 8rem;
    top: 10rem;
    background: url('../img/Close.svg') no-repeat;
    background-size: cover;
    cursor: pointer;
    opacity: 0.5;
}

#close-project-touch {
    width: 200%;
    height: 200%;
    margin-top: -50%;
    margin-left: -50%;
}

#project-name {
    position: relative;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 2.8rem;
    max-width: 42rem;
}

#project-title {
    position: relative;
    font-family: PT Sans;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 4.2rem;
    margin: 2.1rem 0;
    max-width: 66.6%;
}

#project-description {
    max-width: 84rem;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 2.1rem;
    margin-bottom: 4.2rem;
}

#portfolio-content {
    overflow:auto;
    height: 100%;
}

#cd-loading-bar {
    z-index: 4;
}

.half-side-project {
    width:50%;
    float: left;
}

/* CONTACTS */
.flex-container {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #fdfffc;
  overflow: hidden;
  display:flex;
  justify-content: space-between;
}

#contact-info, #contact-form, #contact-animation {
    width:33.3%;
    display: flex;
    justify-content: center;
}

.contact-info-center, .contact-form-center {
    width: 70%;
    margin-top: 14rem;
    overflow: auto;
}

.contact-info-center {
    color: #000;
}

.contact-form-center {
    color: #fff;
}

h3 {
    font-family: PT Sans;
    font-size: 4.2rem;
    margin-bottom: 4.1rem;
}

.contact-info-center span {
    font-size: 1.2rem;
    color: rgba(2, 1, 10, 0.7);
    padding-left: .7rem;
}

.contact-info-center p {
    font-size: 2.1rem;
    color: #000000;
    margin-bottom: 1.7rem;
}

#contact-animation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14rem 0 12.8rem;
    align-items:center;
}

#letter-animation {
    color:black;
}

#contact-logo {
    width:70%;
    position: relative;
}

#contact-minilogo {
    width: 100%;
    display: block;
    top: 0;
    position: absolute;
}

/* XXS responsive */
/* XXS 1 screen */
@media (max-width: 419px) {
    #cd-loading-bar {
        left: 5.6rem;
    }

    #logo {
        /*position: relative;*/
        width: 84%;
        display: block;
/*        margin: 10.8rem 2.1rem 2.1rem 1.8rem;
        position: relative;
        top: 0;
        left: 0;*/
        position: absolute;
        bottom: 2.8rem;
        top: auto;
        left: 1.8rem;
    }

    .cd-side-navigation {
        width: 6rem;
    }

    .cd-side-navigation a {
        padding: 1.85em 0 1.80em;
    }

    .cd-title {
        position: relative;
        width: 100%;
        padding: 1.8rem 2.1rem;
        margin-top: 0; 
        margin-left: 0; 
    }

    .cd-title h2 {
        line-height: initial;
    }

    .cd-section {
        padding-left: 5.6rem;
    }

/* XXS 2 screen */
    .prt-6 {
        width: 100%;
        float: left;
        height: 69vw;
    }

    .hover-overlay {
        position: relative;
        transition: 0.3s;
        width: 100%;
        height: 35vw;
        top: -69vw;
    }

    .hover-overlay span {
        left: 2.7rem;
        top: 3rem;
        font-size: 1.4rem;
    }
    
    .hover-overlay h3 {
        left: 2.7rem;
        top: 4.1rem;
        font-size: 2.1rem;
    }

    /* Project detail */

    #project-close {
        width: 2.8rem;
        height: 2.8rem;
        right: 4.2rem;
        top: 7rem;
    }

    #project-name {
        font-size: 2.1rem;
        max-width: 42rem;
    }

    #project-title {
        font-size: 2.8rem;
        margin: 1.3rem 0;
    }

    #project-description {
        font-size: 2.8rem;
        margin-bottom: 2.8rem;
    }

    #project-detail {
        width: calc(100% - 5.6rem);
        left: 5.6rem;
        padding: 6.3rem 4.1rem;
    }

    .img-row {
        flex-direction: column;
        margin-bottom: 4.2rem;
    }

    .img-37, .img-63, .img-6 {
        width: 100% !important;
        height: auto !important;
    }
    
    .img-6 {
        margin-bottom: 1.4rem;
    }

    .img-row p {
        width: 90%;
        margin-bottom: 1.5rem;
    }

/* XXS 3 screen */
    .flex-container {
        overflow: auto; 
        flex-wrap: wrap;
    }

    .contact-info-center, .contact-form-center {
        width: 90%;
        margin-top: 7rem;
        margin-bottom: 7rem;
    }

    h3 {
        font-size: 3.5rem;
        margin-bottom: 3.4rem;
    }

    .contact-info-center p {
        word-wrap: break-word;
    }

    #letter-animation {
        display: none;
    }

    #contact-info, #contact-form {
        width: 100%;
    }

    #contact-animation {
        width: .01rem;
        position: absolute;
        height: .01rem;
        overflow: hidden;
        opacity: 0;
    }   

    .btn-black {
        width: 100%;
    }
}

/* XS responsive */
/* XS 1 screen */
@media (min-width: 420px) and (max-width: 767px) {
    #logo {
        width: 84%;
        display: block;
/*        margin: 10.8rem 2.1rem 2.1rem 1.8rem;
        position: relative;
        top: 0;
        left: 0;*/
        position: absolute;
        bottom: 2.8rem;
        top: auto;
        left: 1.8rem;
    }

    .cd-side-navigation {
        width: 6rem;
    }

    .cd-side-navigation a {
        padding: 1.85em 0 1.80em;
    }

    .cd-title {
        position: relative;
        width: 100%;
        padding: 1.8rem 2.1rem;
        margin-top: 0; 
        margin-left: 0; 
    }

    .cd-title h2 {
        /*line-height: 1.33;*/
        line-height: initial;
    }

    #cd-loading-bar {
        left: 5.6rem;
    }

    .cd-section {
        padding-left: 5.6rem;
    }

/* XS 2 screen */
    .prt-6 {
        width: 100%;
        float: left;
        height: 69vw;
    }

    .hover-overlay {
        position: relative;
        transition: 0.3s;
        width: 100%;
        height: 35vw;
        top: -69vw;
    }

    .hover-overlay span {
        left: 5.4rem;
        top: 6rem;
        font-size: 2.1rem;
    }
    
    .hover-overlay h3 {
        left: 5.4rem;
        top: 7.4rem;
        font-size: 2.8rem;
    }
    
    #project-close {
        width: 2.8rem;
        height: 2.8rem;
        right: 4.2rem;
        top: 7rem;
    }

    #project-name {
        font-size: 2.1rem;
        max-width: 42rem;
    }

    #project-title {
        font-size: 2.8rem;
        margin: 1.3rem 0;
    }

    #project-description {
        font-size: 2.1rem;
        margin-bottom: 2.8rem;
    }

    #project-detail {
        width: calc(100% - 5.6rem);
        left: 5.6rem;
        padding: 6.3rem 4.1rem;
    }

    .img-row {
        flex-direction: column;
        margin-bottom: 4.2rem;
    }

    .img-37, .img-63, .img-6 {
        width: 100% !important;
        height: auto !important;
    }
    
    .img-6 {
        margin-bottom: 1.4rem;
    }

    .img-row p {
        width: 90%;
        margin-bottom: 1.5rem;
    }
/* XS 3 screen */

    .flex-container {
        overflow: auto; 
        flex-wrap: wrap;
    }

    .contact-info-center, .contact-form-center {
        margin-bottom: 14rem;
    }

    #letter-animation {
        display: none;
    }

    #contact-info, #contact-form {
        width: 100%;
    }

    #contact-animation {
        width: .01rem;
        position: absolute;
        height: .01rem;
        overflow: hidden;
        opacity: 0;
    }   
}

/* SM responsive */
/* SM 1 screen */
@media (min-width: 768px) and (max-width: 991px) {
    #logo {
        width: 84%;
        display: block;
/*        margin: 10.8rem 4.2rem 4.2rem 3.9rem;
        position: relative;
        top: 0;
        left: 0;*/
        position: absolute;
        bottom: 4.2rem;
        top: auto;
        left: 3.9rem;

    }
/*
    .cd-side-navigation {
    }

    .cd-side-navigation a {
    }
*/
    .cd-title {
        position: relative;
        width: 100%;
        padding: 4.3rem 4.2rem;
        margin-top: 0; 
        margin-left: 0; 
    }

    .cd-title h2 {
        /*line-height: 1.33;*/
        line-height: initial;
    }

/* SM 2 screen */
    .prt-6 {
        width: 100%;
        float: left;
        height: 69vw;
    }

    .hover-overlay {
        position: relative;
        transition: 0.3s;
        width: 100%;
        height: 35vw;
        top: -69vw;
    }

    .hover-overlay span{
        left: 11rem;
        top: 13rem;
        font-size: 2.8rem;
    }

    .hover-overlay h3 {
        left: 11rem;
        top: 15.1rem;
        font-size: 3.5rem;
    }

/* SM 3 screen */
    #letter-animation {
        display: none;
    }

    #contact-info, #contact-form {
        width: 50%;
    }

    #contact-animation {
        width: .01rem;
        position: absolute;
        height: .01rem;
        overflow: hidden;
        opacity: 0;
    }
    
}

/* MD responsive */
@media (min-width: 992px) and (max-width: 1199px) {
/* MD 1 screen */
/* MD 2 screen */
    .hover-overlay span {
        left: 5.64rem;
        top: 6.3rem;
        font-size: 2.1rem;
    }
    
    .hover-overlay h3 {
        left: 5.6rem;
        top: 7.4rem;
        font-size: 2.8rem;
    }


/* MD 3 screen */

    
}

/* LG responsive */
@media (min-width: 1200px) and (max-width: 1499px) {
/* LG 1 screen */
/* LG 2 screen */
    .hover-overlay span{
        left: 5.6rem;
        top: 6rem;
        font-size: 2.8rem;
    }

    .hover-overlay h3 {
        left: 5.6rem;
        top: 7.4rem;
        font-size: 3.5rem;
    }

/* LG 3 screen */

    
}
    


/* XXL responsive */
@media (min-width: 1500px) {
/* XXL 1 screen */
/* XXL 2 screen */
    .hover-overlay span{
        left: 8.2rem;
        top: 10.2rem;
        font-size: 2.8rem;
    }

    .hover-overlay h3 {
        left: 8.2rem;
        top: 12.3rem;
        font-size: 4.2rem;
    }


/* XXL 3 screen */

    
}